<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div style="display: flex; align-items: center; gap: 10px">
    <a class="navbar-brand" href="/">Members Only</a>
    <% if (isUserLoggedIn) { %>
    <span class="nav-text collapse navbar-collapse">
      Logged in as
      <span style="font-weight: bold" class="ms-2">
        <%= user.full_name %>
      </span>
    </span>
    <% } %>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    style="display: flex; justify-content: flex-end"
  >
    <ul class="navbar-nav mr-auto" style="display: flex; align-items: center">
      <li class="nav-item pt-1 pe-5">
        <% if (isUserLoggedIn) { %> <% if (user.roles.includes('member')) { %>
        <a class="btn btn-secondary" href="/members">Membership</a>
        <% } else { %>
        <a class="btn btn-primary" href="/members">Membership</a>
        <% } %> <% } %>
      </li>
      <!--  -->
      <% if (isUserLoggedIn && user.roles.includes('member')) { %>
      <li class="nav-item pt-1 pe-5">
        <a class="btn btn-primary" href="/new_message">New Message</a>
      </li>
      <% } %>
      <!--  -->
      <% if (!isUserLoggedIn) { %>
      <li class="nav-item pt-1 pe-5">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item pt-1">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <% } else { %>
      <li class="nav-item pt-1">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
