<nav class="navbar navbar-light bg-light px-4">
  <div style="display: flex; align-items: center">
    <a class="navbar-brand" href="/">Members Only</a>
    <% if (isUserLoggedIn) { %> <% if (user.roles.includes('member')) { %>
    <a class="btn btn-secondary ms-5" href="/members">Membership</a>
    <% } else { %>
    <a class="btn btn-primary ms-5" href="/members">Membership</a>
    <% } %> <% } %> <% if (isUserLoggedIn && user.roles.includes('member')) { %>
    <a class="btn btn-primary ms-5" href="/new_message">New Message</a>
    <% } %>
  </div>
  <div class="ml-auto">
    <ul class="navbar-nav">
      <div style="display: flex; gap: 30px; align-items: center">
        <% if (!isUserLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <span class="nav-text"
            >Logged in as
            <span style="font-weight: bold"><%= user.full_name %></span></span
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% } %>
      </div>
    </ul>
  </div>
</nav>
<br />
