<nav class="navbar navbar-light bg-light px-4">
  <div>
    <a class="navbar-brand" href="/">Members Only</a>
    <% if (isUserLoggedIn && user.roles.includes('member')) { %>
    <a class="btn btn-primary ms-5" href="/post">New Message</a>
    <% } %>
  </div>
  <div class="ml-auto">
    <ul class="navbar-nav">
      <div style="display: flex; gap: 30px; align-items: center">
        <% if (!isUserLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <span class="nav-text">Logged in as <%= user.full_name %></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% } %>
      </div>
    </ul>
  </div>
</nav>
<br />
