<nav class="navbar navbar-light bg-light px-4">
  <div>
    <a class="navbar-brand" href="/">Members Only</a>
    <% if (isUserLoggedIn && user.roles.includes('member')) { %>
    <a class="btn btn-primary ms-5" href="/post">New Message</a>
    <% } %>
  </div>
  <div class="ml-auto">
    <ul class="navbar-nav">
      <% if (!isUserLoggedIn) { %>
      <div style="display: flex; gap: 30px">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
      </div>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
<br />
